/* Poppins 600 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* Poppins 300 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Inter 500 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
/* Inter 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
/* Header */
.header{
    background: #264653;
    height: auto;
    padding-bottom: 10%;
}
.header-img{
    width:80%;
}
.header-btn{
    background: #E76F51;
}
.heading, .header-btn{
    font-family: 'Poppins', sans-serif;
}
.heading-p{
    font-family: 'Poppins', sans-serif;
}
.text-color{
    color:#E76F51 ;
}
/* Header end */

/* Main */
.featured-line{
    width: 70px;
    border: 2px solid #E76F51;
    border-radius: 1px;
}

.featured-bike, .latest-news, .happy-clients, .faq, .popular-bikes{
    padding-bottom: 100px;
}

.featured-btn{
    background: white;
    color: #E76F51;
    border: 1px solid #E76F51 ;
}
.featured-btn:hover{
    background:#E76F51;
    
    color: white ;
}
.client-img{
    width: 149px;
    height: 149px;
}

/* Main end */

/* Footer */
.footer{
    height: auto;
    background: #0B0D17;
}

/* Footer end */

